<!DOCTYPE html>
<html>
  <head>
    <!-- Etiqueta que define el título de la página en la barra de título del navegador -->
    <title>Product List</title>
    <!-- Cargar archivos estáticos -->
    {% load static %}
    <!-- Incluir el archivo CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'appListaCompra/styles.css' %}"
    />
  </head>
  <body>
    <!-- Encabezado principal de la página -->
    <h1>Product List</h1>

    <!-- Enlace para añadir un nuevo producto. Redirige a la vista product_create -->
    <a href="{% url 'product_create' %}">Add New Product</a>

    <!-- Lista no ordenada para mostrar los productos -->
    <ul>
      <!-- Bucle for para iterar sobre la lista de productos proporcionada por la vista -->
      {% for product in products %}
      <li>
        <!-- Muestra el nombre del producto -->
        <h2>{{ product.name }}</h2>
        <!-- Muestra la descripción del producto -->
        <p>{{ product.description }}</p>
        <!-- Muestra el precio del producto -->
        <p>Price: {{ product.price }}</p>

        <!-- Formulario para alternar el estado de selección del producto -->
        <form
          action="{% url 'toggle_selected' product.pk %}"
          method="post"
          style="display: inline"
        >
          <!-- Token CSRF para proteger contra ataques CSRF -->
          {% csrf_token %}
          <!-- Botón para alternar el estado del producto (seleccionado/no seleccionado) -->
          <button type="submit">
            <!-- Condición para cambiar el texto del botón según el estado de selección del producto -->
            {% if product.selected %} Unselect {% else %} Select {% endif %}
          </button>
        </form>

        <!-- Enlace para editar el producto. Redirige a la vista product_edit -->
        <a href="{% url 'product_edit' product.pk %}">Edit</a>

        <!-- Formulario para eliminar el producto -->
        <form
          action="{% url 'product_delete' product.pk %}"
          method="post"
          style="display: inline"
        >
          <!-- Token CSRF para proteger contra ataques CSRF -->
          {% csrf_token %}
          <!-- Botón para enviar la solicitud de eliminación -->
          <button type="submit">Delete</button>
        </form>
      </li>
      <!-- Fin del bucle for -->
      {% endfor %}
    </ul>
  </body>
</html>
